name: Aws deploy from github actions

on:
  push:
    branches:
      - main
  page_build:
  release:
    types:
      - created

jobs:
  deployment:
    name: Deploy stack to AWS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        id: credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          timeZone: 8
          format: "YYYY-MM-DD-HH-mm-ss"

      - name: Branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-west-1" # optional: defaults to us-east-1
          SOURCE_DIR: "./Infra" # optional: defaults to entire repository
          DEST_DIR: ${{ github.event.repository.name }}/${{ steps.extract_branch.outputs.branch }}/${{ steps.time.outputs.time }}/

      - name: Deploy demo stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1.0.3
        with:
          name: ${{ steps.extract_branch.outputs.branch }}-dynamo
          template: https://${{ secrets.AWS_BUCKET }}.s3.amazonaws.com/${{ steps.time.outputs.time }}/ci-dynamo.yaml
          no-fail-on-empty-changeset: "1"
