name: Aws deploy from github actions

on:
  push:
    branches:
      - main
  page_build:
  release:
    types:
      - created

jobs:
  deployment:
    name: Deploy stack to AWS
    runs-on: ubuntu-latest
    outputs:
      env-name: ${{ steps.env-name.outputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        id: credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Deploy demo stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1.0.3
        with:
          name: ${{ steps.env-name.outputs.environment }}-${{ steps.extract_branch.outputs.branch }}-dynamo
          template: https://s3.amazonaws.com/aws-quickstart/quickstart-amazon-eks/templates/amazon-eks-master.template.yaml
          no-fail-on-empty-changeset: "1"
